In [ ]:
#les listes
fruits=["orange","banane","kiwi"]
#accèder a une valeur
print(fruits[0])
#longueur de la liste
print(len(fruits))
#ajouter a la fin de la liste
fruits.append("pomme")
#ajouter a la position 0
fruits.insert(0,"ananas")
print(fruits)
#modification d'un élément
fruits[0]="fraise"
print(fruits)
#suppression d'un élément
fruits.remove("fraise")  #suppression par valeur
print(fruits)
del fruits[0]  #suppression par indice
print(fruits)
#declarer une liste vide
liste =list()
print(liste)

orange
3
['ananas', 'orange', 'banane', 'kiwi', 'pomme']
['fraise', 'orange', 'banane', 'kiwi', 'pomme']
['orange', 'banane', 'kiwi', 'pomme']
['banane', 'kiwi', 'pomme']
[]

In [ ]:
#les dictionnaires
personne = {"nom":"amine","prénom":"hafidhi","age":15}
#accéder a une valeur
print(personne["nom"])
#ajouter un élément
personne["profession"]="étudiant"
print(personne)
#suppression
personne.pop("profession") #supprimer l'élement et afficher sa valeur
print(personne)

amine
{'nom': 'amine', 'prénom': 'hafidhi', 'age': 15, 'profession': 'étudiant'}
{'nom': 'amine', 'prénom': 'hafidhi', 'age': 15}

In [ ]:
#les sets
set1={"orange","banane","kiwi"}
print(set1)
#ajouter un élément
set1.add("pomme")
print(set1)
#supprimer un élément
set1.remove("banane")
print(set1)

{'banane', 'kiwi', 'orange'}
{'banane', 'pomme', 'kiwi', 'orange'}
{'pomme', 'kiwi', 'orange'}

In [ ]:
#les tuples
tuple1=("orange","banane")
tuple2=("pomme","kiwi","ananas")
tuple3=tuple1+tuple2
tuple3

('orange', 'banane', 'pomme', 'kiwi', 'ananas')

In [ ]:
#checkpoint1
# Write a Python program that multiplies all the items in a list.
my_liste= [2, 3, 6]
s=1
for i in my_liste:
    s=s*i
print(s)

36